:root{
    --bleu:#00326B;
    --p-size:16px;
    --h1-size:47.78px;
    --h2-size:39.81px;
    --h3-size:33.18px;
    --h5-size:24px;
}

body{
    background-color:#F7F9FC;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 50, 107, .65);
    z-index: 9999;
}

/* INTRO */

.intro {
    margin-top: 100px;
    max-width: 1100px;
    margin: 80px auto;
    text-align: center;
    padding: 0 20px;
}

.intro h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #1d3557;
}

.intro span {
    color: #6CB46D;
    font-weight: 700;
}

.intro p {
    max-width: 900px;
    margin: auto;
    font-size: 1.25rem;
    line-height: 1.8;
    color: #5c677d;
}

/* SOMMAIRE */

.sommaire {
    max-width: 900px;
    margin: 100px auto;
    padding: 50px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.08);
}

.sommaire h2 {
    text-align: center;
    font-size: 2.8rem;
    margin-bottom: 50px;
    color: #1d3557;
}

.sommaire ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}

.sommaire li {
    transition: .3s;
}

.sommaire a {
    display: block;
    text-decoration: none;
    background: linear-gradient(135deg,#EDF3FC,#EDF3FC);
    color: white;
    padding: 22px;
    border-radius: 20px;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    transition: .3s;
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

.sommaire a:hover {
    transform: translateY(-6px);
    box-shadow: 0 20px 35px rgba(0,0,0,0.15);
}

/* séparation */

.sommaire::before {
    content: "";
    display: block;
    width: 80px;
    height: 6px;
    background: #6CB46D;
    margin: 0 auto 30px;
    border-radius: 20px;
}




/* DEBUT Section nav */

.logo {
    height: 74px;
}

.lienNav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.lienNav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.buttonNav {
    background: white;
    color: var(--bleu) !important;
    padding: 12px 28px;
    border-radius: 30px;
}

/* Section hero */

.sommaire{
    background:linear-gradient(135deg,#d1d8e3,#EDF3FC);
    padding:100px 10%;
    text-align:center;
}

.sommaire h1{
    color:white;
    font-size:var(--h1-size);
    margin-bottom:50px;
}

.sommaire div{
    background:white;
    max-width:700px;
    margin:auto;
    padding:40px;
    border-radius:25px;
    box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

.sommaire h2{
    color:var(--bleu);
    margin-bottom:30px;
}

.sommaire ul{
    list-style:none;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:35px;
}

.sommaire li a{
    text-decoration:none;
    color:var(--bleu);
    font-weight:bold;
    background:#EDF3FC;
    padding:12px 22px;
    border-radius:30px;
}

/* Section hero */
section{
    padding:80px 10%;
}

section h2{
    text-align:center;
    color:var(--bleu);
    font-size:var(--h2-size);
    margin-bottom:50px;
}






/* Section Persona */

.persona{
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    gap:40px;
    flex-wrap:wrap;
    background:#EDF3FC;
}

.card-persona{
    width:950px;
    max-width:100%;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.1);
}
/* Section Persona */



/* Section contexte */

.paragraphe-contexte{
    background:white;
    max-width:1100px;
    margin:auto;
    padding:50px;
    border-radius:20px;
    line-height:2;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    border-left:8px solid var(--bleu);
}
/* Section contexte */




/* Section Maquette */


.maquette-section{
    background:#EDF3FC;
    padding-bottom:80px;
}

.UserFlow{
    background:white;
    border-radius:25px;
    padding:40px;
    margin-bottom:60px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.maquette-section h3{
    text-align:center;
    font-size:var(--h3-size);
    color:var(--bleu);
    margin-bottom:40px;
}

.images-maquette{
    display:flex;
    justify-content:center;
    gap:30px;
}

.images-maquette img{
    width:1000px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.images-documentWire{
    display:flex;
    justify-content:center;
    gap:30px;
}
.images-documentWire img{
    width:800px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    
}
/* Section Maquette */





/* Section UserFlow */
.wireframe{
    text-align:center;
}

.wireframe img{
    width:100%;
    width:1200px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    display:flex;
    justify-content:center;
}

.wireframe{
    text-align:center;
    font-size:var(--h3-size);
    color:var(--bleu);
}
/* Section UserFlow */

/* Section Figma */

iframe{
    display:block;
    width:100%;
    max-width:1200px;
    height:850px;
    margin:80px auto;
    border:none;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}
/* Section UserFlow */

/* ========================= */
/* SECTION TECHNOLOGIES */
/* ========================= */

.technologies{
    background:#EDF3FC;
    text-align:center;
}

.card-technologie{
    max-width:900px;
    margin:auto;
    background:white;
    padding:50px;
    border-radius:25px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
}

.card-Technologie-Imag{
    width:120px;
    margin-bottom:25px;
}

.card-Technologie-H2{
    color:var(--bleu);
    margin-bottom:10px;
}

.card-Technologie-H3{
    color:#6CB46D;
    margin-bottom:20px;
}

.card-Technologie-Para{
    color:#5c677d;
    line-height:1.8;
}


/* ========================= */
/* SECTION EVOLUTIONS */
/* ========================= */

.evolutions{
    background:white;
}

.evolution-container{
    max-width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.evolution-card{
    background:#EDF3FC;
    padding:35px;
    border-radius:25px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    transition:.3s;
}

.evolution-card:hover{
    transform:translateY(-8px);
}

.evolution-card h3{
    color:var(--bleu);
    margin-bottom:20px;
    font-size:1.6rem;
}

.evolution-card ul{
    padding-left:20px;
}

.evolution-card li{
    margin-bottom:15px;
    color:#5c677d;
    line-height:1.7;
}

/* Roadmap */

.roadmap{
    max-width:1000px;
    margin:70px auto 0;
    display:flex;
    justify-content:space-between;
    gap:20px;
    flex-wrap:wrap;
}

.step-roadmap{
    flex:1;
    min-width:220px;
    background:var(--bleu);
    color:white;
    padding:25px;
    border-radius:20px;
    text-align:center;
    position:relative;
}

.step-roadmap span{
    display:block;
    font-size:2rem;
    font-weight:bold;
    margin-bottom:10px;
}


.technologies{
    background:#EDF3FC;
    text-align:center;
}

.technologies h1{
    color:var(--bleu);
    font-size:var(--h2-size);
    margin-bottom:50px;
}

.technologies ul{
    list-style:none;
    max-width:1000px;
    margin:auto;
    padding:0;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
}

.technologies li{
    background:white;
    color:var(--bleu);
    padding:18px 28px;
    border-radius:20px;
    font-size:1.1rem;
    font-weight:600;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    transition:.3s ease;
    cursor:default;
}

.technologies li:hover{
    transform:translateY(-5px);
    box-shadow:0 15px 30px rgba(0,0,0,0.12);
    background:var(--bleu);
    color:white;
}



/* ========================= */
/* SECTION INSPIRATIONS */
/* ========================= */

.inspirations{
    background:#EDF3FC;
}

.inspiration-grid{
    max-width:1200px;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.inspiration-card{
    background:white;
    border-radius:25px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    transition:.3s;
}

.inspiration-card:hover{
    transform:translateY(-8px);
}

.inspiration-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.inspiration-content{
    padding:30px;
}

.inspiration-content h3{
    color:var(--bleu);
    margin-bottom:15px;
}

.inspiration-content p{
    color:#5c677d;
    line-height:1.8;
}

footer{
    background: var(--white);
    color: var(--bleu);
    padding: 40px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

footer p{
    margin: 0;
    font-size: 1rem;
}

footer p:first-child{
    font-size: 1.3rem;
    font-weight: 700;
}

footer a{
    color: var(--bleu);
    text-decoration: none;
    font-weight: 600;
    padding: 10px 20px;
    border: 2px solid rgb(159, 159, 159);
    border-radius: 30px;
    transition: 0.3s ease;
}

footer a:hover{
    background: #e8f0fa;
    color: var(--white);
    border-color: rgb(222, 222, 222);
}


