:root {
    --bleu: #00326B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

body {
    background: #ffffff;
    color: var(--bleu);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 50, 107, .65);
    z-index: 9999;
}




/* DEBUT Section nav */

.logo {
    height: 74px;
}

.lienNav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.lienNav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.buttonNav {
    background: white;
    color: var(--bleu) !important;
    padding: 12px 28px;
    border-radius: 30px;
}

/* FIN Section nav */







/* DEBUT Section hero */

.hero {
    height: 100vh;
    background: url("assets/imgHeroBackground.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 110px;
}

.heroContent {
    max-width: 600px;
    margin-top: 40px;
}

.heroContent h1 {
    color: white;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 40px;
}

.stores {
    display: flex;
    gap: 20px;
}

.stores img {
    height: 55px;
}

/* FIN Section nav */





/* DEBUT Section problematique */

.titresectiondeux {
    text-align: center;
    font-size: 6rem;
    color: var(--bleu);
    margin-bottom: 70px;
    font-weight: 700;
}

.problematiqueContent {
    display: flex;
    justify-content: center;
}

.problematiqueImage img {
    size: cover;
    height: 300px;
}

.problematiqueTexte {
    background: var(--bleu);
    width: 650px;
    padding: 36px;
    display: flex;
    align-items: center;
    color: white;
    line-height: 1.5;
    font-size: 1.2rem;
    display: block;
    font-size: 2rem;
    margin-bottom: 15px;
}


/* FIN Section problematique */






/* DEBUT Section solution */

.solution {
    padding: 100px 8%;
}

.solution h2 {
    text-align: center;
    font-size: 4rem;
    color: var(--bleu);
    margin-bottom: 50px;
}

.boxReferent {
    max-width: 1200px;
    margin: auto;
    border: 4px solid var(--bleu);
    border-radius: 40px;
    padding: 35px 60px;
    background: white;
    text-align: center;
    margin-bottom: 80px;
}

.boxReferent p {
    color: var(--bleu);
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.4;
}

.referentContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.referentImage img {
    width: 437px;
}

.referentTexte {
    max-width: 500px;
}

.referentTexte p {
    color: var(--bleu);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.7;
}

/* FIN Section solution */






/* DEBUT Section preuve */
.preuve {
    background: var(--bleu);
    padding: 120px 8%;
}

.preuve h2 {
    text-align: center;
    font-size: 4.5rem;
    color: white;
    margin-bottom: 100px;
}

.statsContainer {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-bottom: 100px;
}

.statCard {
    max-width: 450px;
    text-align: center;
    color: white;
}

.statCard h3 {
    font-size: 5rem;
    font-weight: 300;
    margin-bottom: 10px;
}

.statTitre {
    color: #F3FF55;
    font-weight: 700;
    margin-bottom: 20px;
}

.statCard p:last-child {
    line-height: 1.6;
}

.avis {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.cardAvis {
    width: 320px;
    background: white;
    padding: 20px;
    border-radius: 15px;
}

.cardAvis img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.cardAvis p {
    font-size: .95rem;
    line-height: 1.5;
    margin-bottom: 15px;
}

.etoiles {
    font-size: 1.4rem;
    color: #F3FF55;
}

/* FIN Section preuve */







/* DEBUT Section engagement */

.engagement {
    display: flex;
    min-height: 550px;
}

.titreEngagement {
    width: 160px;
    background: var(--bleu);
    display: flex;
    justify-content: center;
    align-items: center;
}

.titreEngagement h3 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: white;
    font-size: 3rem;
    letter-spacing: 8px;
}

.contenuEngagement {
    flex: 1;
    padding: 70px 60px;
    background: #f3f3f3;
}

.contenuEngagement ul {
    list-style: none;
}

.contenuEngagement li {
    font-size: 2rem;
    color: var(--bleu);
    margin-bottom: 30px;
    position: relative;
    padding-left: 40px;
}

.contenuEngagement li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: -4px;
    font-size: 2rem;
}

.btnDownload {
    display: inline-block;
    margin-top: 40px;
    padding: 18px 50px;
    background: var(--bleu);
    color: white;
    text-decoration: none;
    border-radius: 18px;
    font-weight: 600;
}

/* FIN Section Engagement */





/* DEBUT Section CTA */

.ctaContent {
    background: #00326B;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.qrBlock {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.qrBlock img {
    width: 190px;
}

.downloadBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.downloadBlock p {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    max-width: 500px;
}

.storesCTA {
    display: flex;
    gap: 20px;
}

.storesCTA img {
    height: 58px;
}

.btnDownloadCTA {
    margin-top: 20px;

    width: 230px;
    height: 55px;

    border-radius: 18px;

    background: white;
    color: #00326B;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    font-weight: 700;
}

.phoneCTA {
    height: 650px;
    width: auto;
    display: block;
    margin-right: -20px;
    margin-bottom: -60px;
}

/* FIN Section CTA */



/* DEBUT Section Footer */
/* footer {
    height: 50px;
    background: #f3f3f3;
} */
 .buttonFotter{
    background-color: #00326B;
    color: white;
    padding: 20px 20px;
    border-radius: 10px;
    
    
 }
 footer{
    min-height: 30vh;
 }
/* FIN Section Footer */