:root {
    --bleu: #00326B;
    --p-size: 16px;
    --h1-size: 47.78px;
    --h2-size:39.81px;
    --h3-size:33.18px;
    --h5-size: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

body {
    background: #ffffff;
    color: var(--bleu);
}
p{
    font-size: var(--p-size);
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 50, 107, .65);
    z-index: 9999;
}




/* DEBUT Section nav */

.logo {
    height: 74px;
}

.lienNav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.lienNav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.buttonNav {
    background: white;
    color: var(--bleu) !important;
    padding: 12px 28px;
    border-radius: 30px;
}

/* FIN Section nav */







/* DEBUT Section hero */

.hero {
    height: 100vh;
    background: url("assets/imgHeroBackground.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 110px;
}

.heroContent {
    max-width: 600px;
    margin-top: 40px;
}

.heroContent h1 {
    color: white;
    font-size: var(--h2-size);
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 40px;
}

.stores {
    display: flex;
    gap: 20px;
}

.stores img {
    height: 55px;
}

/* FIN Section nav */





/* DEBUT Section problematique */

.problematic{
    background-color: var(--bleu);
    color: white;
}

.title-problematic{
    display: flex;
    justify-content: center;
    padding: 64px;
    font-size: var(--h2-size);
}

.content-problematic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-problematic{
    width: 569px;
    height: 493px;
    padding: 30px;
}

.text-problematic{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 83px;
}

/* FIN Section problematique */








/* DEBUT Section solution */

.solution {
    padding: 100px 8%;
}

.solution h2 {
    text-align: center;
    font-size: var(--h2-size);
    color: var(--bleu);
    margin-bottom: 50px;
}

.boxReferent {
    max-width: 1200px;
    margin: auto;
    border: 4px solid var(--bleu);
    border-radius: 40px;
    padding: 35px 60px;
    background: white;
    text-align: center;
    margin-bottom: 80px;
}

.boxReferent p {
    color: var(--bleu);
    font-size: var(--p-size);
    font-weight: 600;
    line-height: 1.4;
}

.referentContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.referentImage{
    width: 450px;
    
}

.referentTexte {
    max-width: 500px;
}

.referentTexte p {
    color: var(--bleu);
    font-size: var(--p-size);
    font-weight: 600;
    line-height: 1.7;
}

/* FIN Section solution */




.solutionReferent{
    padding: 120px 8%;
    background: #ffffff;
}

.solutionReferent h2{
    text-align: center;
    font-size: var(--h2-size);
    font-weight: 700;
    color: var(--bleu);
    margin-bottom: 80px;
}

.solutionReferent > div{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.solutionReferent article{
    display: flex;
    align-items: center;
    gap: 60px;
    background: #fff;
    border-radius: 35px;
    padding: 40px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.solutionReferent article:hover{
    transform: translateY(-8px);
}

.solutionReferent article:nth-child(even){
    flex-direction: row-reverse;
}

.solutionReferent article img{
    width: 220px;
    max-width: 45%;
    border-radius: 25px;
    object-fit: cover;
}

.solutionReferent article div{
    flex: 1;
}

.solutionReferent article h3{
    font-size: var(--h3-size);
    color: var(--bleu);
    margin-bottom: 20px;
    line-height: 1.3;
}

.solutionReferent article p{
    font-size: var(--p-size);
    line-height: 1.8;
    color: black;
}

/*Section solutionReferent */






/* Section Service */
.services{
    display:flex;
    flex-direction:row;
    gap:30px;
    flex-wrap:wrap;
    justify-content:center;
    margin-bottom:80px;
}

.services h2{
    width:100%;
    text-align:center;
    color:var(--bleu);
    font-size:var(--h2-size);
    margin-bottom:5px;
}

.card{
    width:310px;
    background:white;
    padding:35px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card img{
    width:100%;
    width:100px;
    margin-bottom:20px;
}

.card h3{
    color:var(--bleu);
    margin-bottom:15px;
    font-size:var(--h4-size);
}

.card p{
    line-height:1.8;
    font-size:var(--p-size);
}

.Information{
    display: flex;
    flex-direction: row;
}

.Information p{
    margin-left: 10px;
    font-size: 10px;
    color: var(--bleu);
}
/* Section Service */









/* DEBUT Section preuve */
.preuve {
    background: var(--bleu);
    padding: 120px 8%;
}

.preuve h2 {
    text-align: center;
    font-size: var(--h2-size);
    color: white;
    margin-bottom: 100px;
}

.statsContainer {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-bottom: 100px;
}

.statCard {
    max-width: 450px;
    text-align: center;
    color: white;
}

.statCard h3 {
    font-size: var(--h3-size);
    font-weight: 300;
    margin-bottom: 10px;
}

.statTitre {
    color: #F3FF55;
    font-weight: 700;
    margin-bottom: 20px;
}

.statCard p:last-child {
    line-height: 1.6;
}

.avis {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.cardAvis {
    width: 320px;
    background: white;
    padding: 20px;
    border-radius: 15px;
}

.cardAvis img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.cardAvis p {
    font-size: var(--p-size);
    line-height: 1.5;
    margin-bottom: 15px;
}

.etoiles {
    font-size: 1.4rem;
    color: #b3be0c;
}
.etoiles span {
    font-size: (var(--p-size));
    color: (--bleu);
}

/* FIN Section preuve */







/* DEBUT Section engagement */


.engagement{
    text-align: center;
    padding: 80px 20px;
    background-color: #f5f5f5;
}

.titreEngagement h3{
    font-size: 60px;
    color: #003b82;
    margin-bottom: 20px;
}

.titreEngagement p{
    color: #003b82;
    margin-bottom: 50px;
}

.contenuEngagement ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.contenuEngagement li{
    background-color: #e8f0fa;
    color: #003b82;
    padding: 15px 25px;
    border-radius: 30px;
}

.btnDownload{
    display: inline-block;
    margin-top: 50px;
    background-color: #003b82;
    color: white;
    text-decoration: none;
    padding: 25px 60px;
    border-radius: 15px;
    font-weight: bold;
}

/* FIN Section Engagement */





/* DEBUT Section CTA */


.container{
    margin: auto;
    width: 1080px;
}

.cta-section {
    background: var(--bleu);
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.content-cta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 8rem;
    align-items: center;
    margin: auto;
    width: 90px;
}

.stores-cta{
    display: flex;
    gap : 50px;
}

.stores-cta img{
    width: 234px;
    height: 69px;
    margin-top: 50px;
}

.qrcode-cta img{
    width: 353px;
}

.text-app-cta{
    font-size: var(--h5-size);
    font-weight: bold;
}

.text-qr-cta{
    font-size: var(--h5-size);
    font-weight: bold;
    text-align: end;
}

    /* FIN Section CTA */



 /* Debut section footer */
footer{
    background: var(--white);
    color: var(--bleu);
    padding: 40px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

footer p{
    margin: 0;
    font-size: 1rem;
}

footer p:first-child{
    font-size: 1.3rem;
    font-weight: 700;
}

footer a{
    color: var(--bleu);
    text-decoration: none;
    font-weight: 600;
    padding: 10px 20px;
    border: 2px solid rgb(159, 159, 159);
    border-radius: 30px;
    transition: 0.3s ease;
}

footer a:hover{
    background: #e8f0fa;
    color: var(--white);
    border-color: rgb(222, 222, 222);
}

/* Fin section footer */
