:root {
    --bleu: #00326B;
    --p-size: 16px;
    --h1-size: 47.78px;
    --h2-size:39.81px;
    --h3-size:33.18px;
    --h5-size: 24px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

body {
    background: #ffffff;
    color: var(--bleu);
}
p{
    font-size: var(--p-size);
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 50, 107, .65);
    z-index: 9999;
}




/* DEBUT Section nav */

.logo {
    height: 74px;
}

.lienNav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.lienNav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.buttonNav {
    background: white;
    color: var(--bleu) !important;
    padding: 12px 28px;
    border-radius: 30px;
}

/* FIN Section nav */







/* DEBUT Section hero */

.hero {
    height: 100vh;
    background: url("assets/imgHeroBackground.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 110px;
}

.heroContent {
    max-width: 600px;
    margin-top: 40px;
}

.heroContent h1 {
    color: white;
    font-size: var(--h1-size);
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 40px;
}

.stores {
    display: flex;
    gap: 20px;
}

.stores img {
    height: 55px;
}

/* FIN Section nav */





/* DEBUT Section problematique */

.problematic{
    background-color: var(--bleu);
    color: white;
}

.title-problematic{
    display: flex;
    justify-content: center;
    padding: 64px;
    font-size: var(--h2-size);
}

.content-problematic{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img-problematic{
    width: 569px;
    height: 493px;
    padding: 30px;
}

.text-problematic{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 83px;
}

/* FIN Section problematique */






/* DEBUT Section solution */

.solution {
    padding: 100px 8%;
}

.solution h2 {
    text-align: center;
    font-size: var(--h2-size);
    color: var(--bleu);
    margin-bottom: 50px;
}

.boxReferent {
    max-width: 1200px;
    margin: auto;
    border: 4px solid var(--bleu);
    border-radius: 40px;
    padding: 35px 60px;
    background: white;
    text-align: center;
    margin-bottom: 80px;
}

.boxReferent p {
    color: var(--bleu);
    font-size: var(--p-size);
    font-weight: 600;
    line-height: 1.4;
}

.referentContent {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.referentImage{
    width: 450px;
    
}

.referentTexte {
    max-width: 500px;
}

.referentTexte p {
    color: var(--bleu);
    font-size: var(--p-size);
    font-weight: 600;
    line-height: 1.7;
}

/* FIN Section solution */






/* DEBUT Section preuve */
.preuve {
    background: var(--bleu);
    padding: 120px 8%;
}

.preuve h2 {
    text-align: center;
    font-size: var(--h2-size);
    color: white;
    margin-bottom: 100px;
}

.statsContainer {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-bottom: 100px;
}

.statCard {
    max-width: 450px;
    text-align: center;
    color: white;
}

.statCard h3 {
    font-size: var(--h3-size);
    font-weight: 300;
    margin-bottom: 10px;
}

.statTitre {
    color: #F3FF55;
    font-weight: 700;
    margin-bottom: 20px;
}

.statCard p:last-child {
    line-height: 1.6;
}

.avis {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.cardAvis {
    width: 320px;
    background: white;
    padding: 20px;
    border-radius: 15px;
}

.cardAvis img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.cardAvis p {
    font-size: var(--p-size);
    line-height: 1.5;
    margin-bottom: 15px;
}

.etoiles {
    font-size: 1.4rem;
    color: #F3FF55;
}

/* FIN Section preuve */







/* DEBUT Section engagement */

.engagement {
    display: flex;
    min-height: 550px;
}

.titreEngagement {
    width: 160px;
    background: var(--bleu);
    display: flex;
    justify-content: center;
    align-items: center;
}

.titreEngagement h3 {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: white;
    font-size: var(--h3-size);
    letter-spacing: 8px;
}

.contenuEngagement {
    flex: 1;
    padding: 70px 60px;
    background: #f3f3f3;
}

.contenuEngagement ul {
    list-style: none;
}

.contenuEngagement li {
    font-size: var(--p-size);
    color: var(--bleu);
    margin-bottom: 30px;
    position: relative;
    padding-left: 40px;
}

.contenuEngagement li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: -4px;
    font-size: var(--p-size);
}

.btnDownload {
    display: inline-block;
    margin-top: 40px;
    padding: 18px 50px;
    background: var(--bleu);
    color: white;
    text-decoration: none;
    border-radius: 18px;
    font-weight: 600;
}

/* FIN Section Engagement */





/* DEBUT Section CTA */


.container{
    margin: auto;
    width: 1080px;
}

.cta-section {
    background: var(--bleu);
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.content-cta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap : 8rem;
    align-items: center;
    margin: auto;
    width: 90px;
}

.stores-cta{
    display: flex;
    gap : 50px;
}

.stores-cta img{
    width: 234px;
    height: 69px;
    margin-top: 50px;
}

.qrcode-cta img{
    width: 353px;
}

.text-app-cta{
    font-size: var(--h5-size);
    font-weight: bold;
}

.text-qr-cta{
    font-size: var(--h5-size);
    font-weight: bold;
    text-align: end;
}

    /* FIN Section CTA */



    /* DEBUT Section Footer */

    .buttonFotter {
        background-color: #00326B;
        color: white;
        padding: 9px 11px;
        border-radius: 10px;
        margin: 29px 20px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        width: 200px;
    }


    footer {
        min-height: 30vh;
    }
    /* FIN Section Footer */